@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using eStore_WebMVC.Models

<h1>Sales statistics</h1>
<form id="salesForm" asp-action="Statistics" asp-controller="Sales" method="get">
    <div class="row">
        <div class="col-md-4">
            <label for="startDate">StartDate</label>
            <input type="date" class="form-control" id="startDate" name="startDate" required>
        </div>
        <div class="col-md-4">
            <label for="endDate">EndDate</label>
            <input type="date" class="form-control" id="endDate" name="endDate" required>
        </div>
        <div class="col-md-4">
            <button type="submit" id="submitButton">Statistic</button>
        </div>
    </div>

</form>

<div id="result">
    <div>
        Result statistic sales
    </div>
    <table border="1">
        <tr>
            <th>
                ProductID
            </th>
            <th>
                ProductName
            </th>
            <th>
                Total Quantity
            </th>
            <th>Total Sales</th>
        </tr>
    </table>
</div>
<style>
    h1 {
        color: #333;
    }

    form {
        margin-top: 20px;
    }

    label {
        margin-right: 10px;
    }

    button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

        button:hover {
            background-color: #0056b3;
        }

    #result {
        margin-top: 20px;
        font-size: 16px;
    }
    table {
        margin-top: 20px;
        border-collapse: collapse;
        width: 100%
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #04AA6D;
        color: black;
    }

    #submitButton{
        margin-top:20px;
    }
</style>


